<ion-header>
  <ion-toolbar color="tertiary">
    <!-- Botão Voltar -->
    <ion-buttons slot="start">
      <ion-button  (click)="backPage()">
        <ion-icon  style="font-size: 40px;" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>      
    <ion-title>Finan. Imobiliário (Price)</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button size=large></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="calcular(finanImovelPrice)">

    <div class="dataFrame">

      <ion-row size="12">
        <h3 class="title">Preencha os campos com (*)</h3>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Banco (*)</ion-label>
        </ion-col>
        <ion-col class="finanSelect">
            <ion-select name="banco_id" placeholder="Escolha o Banco" [(ngModel)]="finanImovelPrice.banco_id" 
              interface="action-sheet" (ionChange)="aplicaBanco($event)">
              <ion-select-option *ngFor="let item of bancoTaxas" [value]="item.id">{{ item.banco }}</ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>      

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Valor Imóvel (*)</ion-label>
        </ion-col>
        <ion-col>
          <ion-input name="total_imovel_val"  placeholder="Ex: 300000,00" class="inputQuest" type="tel"  (ionBlur)="atualizaItbi(finanImovelPrice.itbi_escritura_choice)"
            [(ngModel)]="finanImovelPrice.total_imovel_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Entrada (*)</ion-label>
        </ion-col>
        <ion-col>
          <ion-input name="entrada_val"  placeholder="Ex: 50000,00" class="inputQuest" type="tel"
            [(ngModel)]="finanImovelPrice.entrada_val" [brmasker]="{money: true}" 
            clearInput></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Incluir ITBI + Escritura? (*)</ion-label>
        </ion-col>
        <ion-col>
          <ion-radio-group class="radioConclusao" [(ngModel)]="finanImovelPrice.itbi_escritura_choice" name="itbi_escritura_choice">
            <ion-row>
              <ion-col>
                <ion-radio (click)="atualizaItbi('1')" value="1" ></ion-radio>
                <ion-label class="radioLabelH">Sim</ion-label>
                <ion-radio (click)="atualizaItbi('0')" value="0" ></ion-radio>
                <ion-label class="radioLabelH">Não</ion-label><br />
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-col>
      </ion-row>   
      
      <ion-row *ngIf="finanImovelPrice.itbi_escritura_choice === '1'">
        <ion-col size="12">
          <ion-label class="labelTop" size="12">Valor ITBI e Escritura</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input name="finanImovelPrice.itbi_escritura_val"  readonly class="inputQuestInativa" type="tel"  [(ngModel)]="finanImovelPrice.itbi_escritura_val" ></ion-input>
        </ion-col>
      </ion-row>           
      
      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Incluir Avaliação de Garantia? (*)</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-radio-group class="radioConclusao" [(ngModel)]="finanImovelPrice.avaliacao_garantia_choice"
          [brmasker]="{money: true}" name="avaliacao_garantia_choice">
            <ion-row>
              <ion-col>
                <ion-radio value="1" ></ion-radio>
                <ion-label class="radioLabelH">Sim</ion-label>
                <ion-radio value="0" ></ion-radio>
                <ion-label class="radioLabelH">Não</ion-label><br />
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-col>
      </ion-row>        

      <ion-row *ngIf="finanImovelPrice.avaliacao_garantia_choice === '1'">
        <ion-col size="12">
          <ion-label class="labelTop" size="12">Avaliação de Garantia (Se em branco será inserido valor estimado)</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input name="avaliacao_garantia_val" readonly class="inputQuestInativa" type="tel"  [(ngModel)]="finanImovelPrice.avaliacao_garantia_val" ></ion-input>
        </ion-col>
      </ion-row>     
      
      <ion-row class="borda"></ion-row>         

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop" size="12">Parcelas (*) (Meses ou Anos)</ion-label>
        </ion-col>
        <ion-col size="5.5">
          <ion-label class="labelTop">Meses</ion-label>
        </ion-col>
        <ion-col size="1">
        </ion-col>        
        <ion-col size="5.5">
          <ion-label class="labelTop">Anos</ion-label>
        </ion-col>        
        <ion-col size="5.5">
          <ion-input name="qtd_parcelas_meses"  class="inputQuest" placeholder="Ex: 360" type="tel" (ionChange)="mesesOuAnos('meses')"
            [(ngModel)]="finanImovelPrice.qtd_parcelas_meses" [brmasker]="{mask: '000', len: 3}" clearInput></ion-input>
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="5.5">
          <ion-input name="qtd_parcelas_anos"  class="inputQuest" placeholder="Ex: 30" type="tel"  (ionChange)="mesesOuAnos('anos')"
          [(ngModel)]="finanImovelPrice.qtd_parcelas_anos" [brmasker]="{mask: '000', len: 3}" clearInput></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Juros Anuais (*)</ion-label>
        </ion-col>
        <ion-col>
          <ion-input name="percent_juros_anual"  class="inputQuestInativa" type="tel"
            [(ngModel)]="finanImovelPrice.percent_juros_anual" readonly [brmasker]="{money: true, len: 6 }" clearInput></ion-input>
        </ion-col>
      </ion-row>         

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop">Salário Mensal (*)</ion-label>
        </ion-col>
        <ion-col>
          <ion-input name="salario"  class="inputQuest" type="tel" placeholder="Ex: 5000,00" [(ngModel)]="finanImovelPrice.salario"
           [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
      </ion-row>  

      <ion-row class="borda"></ion-row>       
      

      <ion-row>
        <ion-col size="12">
          <ion-label class="labelTop" size="12">Seguros e Tarifas Mensais</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label class="labelTop">Nome</ion-label>
        </ion-col>
  
        <ion-col size="3">
          <ion-label class="labelTop">Valor</ion-label>
        </ion-col>

        <ion-col size="3">
          <ion-label class="labelTop">ou %</ion-label>
        </ion-col>                
      
        <ion-col  size="3">
          <ion-label class="labelTop">Par. 0?</ion-label>
        </ion-col>        
      </ion-row>        

      <ion-row>
        <ion-col size="3">
          <ion-input name="taxa1_mensal"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" 
            [(ngModel)]="finanImovelPrice.taxa1_mensal" type="text" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa1_mensal_val"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa1_mensal', 'val')"
          [(ngModel)]="finanImovelPrice.taxa1_mensal_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa1_mensal_porcent"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa1_mensal', '')"
          [(ngModel)]="finanImovelPrice.taxa1_mensal_porcent" [brmasker]="{money: true , decimal: 3}" clearInput></ion-input>
        </ion-col>                   
        <ion-col class="finanCheck" size="3">
          <ion-checkbox  [(ngModel)]="finanImovelPrice.taxa1_mensal_check" name="taxa1_mensal_check" disabled> </ion-checkbox>
        </ion-col>              
      </ion-row>
       
      <ion-row>    
        <ion-col size="3">
          <ion-input name="taxa2_mensal"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" [(ngModel)]="finanImovelPrice.taxa2_mensal"
	        type="text" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa2_mensal_val"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa2_mensal', 'val')"
          [(ngModel)]="finanImovelPrice.taxa2_mensal_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa2_mensal_porcent"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa2_mensal', '')"
          [(ngModel)]="finanImovelPrice.taxa2_mensal_porcent" [brmasker]="{money: true , decimal: 3}" clearInput></ion-input>
        </ion-col>                        
        <ion-col class="finanCheck" size="3">
          <ion-checkbox  [(ngModel)]="finanImovelPrice.taxa2_mensal_check" name="taxa2_mensal_check" disabled> </ion-checkbox>
        </ion-col>        
      </ion-row>
      
      <ion-row>      
        <ion-col size="3">
          <ion-input name="taxa3_mensal"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" [(ngModel)]="finanImovelPrice.taxa3_mensal"
	        type="text" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa3_mensal_val"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa3_mensal', 'val')"
          [(ngModel)]="finanImovelPrice.taxa3_mensal_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa3_mensal_porcent"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa3_mensal', '')"
          [(ngModel)]="finanImovelPrice.taxa3_mensal_porcent" [brmasker]="{money: true , decimal: 3}" clearInput></ion-input>
        </ion-col>                       
        <ion-col class="finanCheck" size="3">
          <ion-checkbox  [(ngModel)]="finanImovelPrice.taxa3_mensal_check" name="taxa3_mensal_check" disabled> </ion-checkbox>
        </ion-col>        
      </ion-row>  
      
      <ion-row>     
        <ion-col size="3">
          <ion-input name="taxa4_mensal"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" [(ngModel)]="finanImovelPrice.taxa4_mensal"
	        type="text" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa4_mensal_val"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa4_mensal', 'val')"
          [(ngModel)]="finanImovelPrice.taxa4_mensal_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa4_mensal_porcent"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa4_mensal', '')"
          [(ngModel)]="finanImovelPrice.taxa4_mensal_porcent" [brmasker]="{money: true , decimal: 3}" clearInput></ion-input>
        </ion-col>                        
        <ion-col class="finanCheck" size="3">
          <ion-checkbox  [(ngModel)]="finanImovelPrice.taxa4_mensal_check" name="taxa4_mensal_check" disabled> </ion-checkbox>
        </ion-col>
      </ion-row>

      <ion-row>      
        <ion-col size="3">
          <ion-input name="taxa5_mensal"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" [(ngModel)]="finanImovelPrice.taxa5_mensal"
	        type="text" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa5_mensal_val"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa5_mensal', 'val')"
          [(ngModel)]="finanImovelPrice.taxa5_mensal_val" [brmasker]="{money: true}" clearInput></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input name="taxa5_mensal_porcent"  readonly class="inputQuestInativa input_taxas_inativas" type="tel" (ionBlur)="taxaValOuPorcent('taxa5_mensal', '')"
          [(ngModel)]="finanImovelPrice.taxa5_mensal_porcent" [brmasker]="{money: true , decimal: 3}" clearInput></ion-input>
        </ion-col>        
        <ion-col class="finanCheck" size="3">
          <ion-checkbox [(ngModel)]="finanImovelPrice.taxa5_mensal_check" name="taxa5_mensal_check" disabled> </ion-checkbox>
        </ion-col>      
      </ion-row>

      <br />
      <div class="ion-margin-vertical">
        <ion-button type="submit" size="medium" color="secondary" expand="block">
          <ion-icon name="calculator-outline" slot="start"></ion-icon>Calcular</ion-button>
      </div>          
      <br />
      <br />
   
      
    </div>    
    


  </form>  

</ion-content>
