<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Aplicativo de Financiamentos</ion-title>
  </ion-toolbar>
  <ion-img  class="img-banner" src='./assets/img/financi.jpg' ></ion-img>

</ion-header>

<ion-content class="ion-padding">

  <br />
  <br />

  <ion-grid class="home-grid">
    <ion-row>
      <ion-col size="6">
        <button class="btn-circle" (click)="openSacModal()">
          <ion-icon slot="start" size="large" name="wallet-outline"></ion-icon>
        </button><br />
        Imobiliário SAC
      </ion-col>        
      <ion-col size="6">
        <button class="btn-circle" (click)="openPriceModal()">
          <ion-icon slot="start" size="large" name="wallet"></ion-icon>
        </button><br />
        Imobiliário PRICE
      </ion-col>
    </ion-row>  
    <br />
    <br />
    <br />
    <ion-row>
      <ion-col size="6">
        <button class="btn-circle" routerLink="/banco-taxas">
          <ion-icon slot="start" size="large" name="cash-outline"></ion-icon>
        </button><br />
        Cadastro de Taxas Bancarias       
      </ion-col>      
      <ion-col size="6">
        <button class="btn-circle" (click)="fechaApp()">
          <ion-icon slot="start" size="large" name="exit-outline"></ion-icon>
        </button><br />
        Fechar
      </ion-col>
    </ion-row> 
    
    
<!--     <ion-row>
      <ion-col size="6" (click)="admobService.prepareReward()">
        <button>
          <ion-icon slot="start" size="large" name="videocam"></ion-icon>
        </button><br />
        Propaganda Vídeo       
      </ion-col> 
      <ion-col size="6" (click)="admobService.showTopBanner()">
        <button>
          <ion-icon slot="start" size="large" name="cloud-upload"></ion-icon>
        </button><br />
        TOP Banner      
      </ion-col> 
    </ion-row> 
    <ion-row>
      <ion-col size="6" (click)="admobService.showBottomBanner()">
        <button>
          <ion-icon slot="start" size="large" name="cloud-download"></ion-icon>
        </button><br />
        Bottom Banner       
      </ion-col> 
      <ion-col size="6" (click)="admobService.removeBanner()">
        <button>
          <ion-icon slot="start" size="large" name="trash"></ion-icon>
        </button><br />
        Fechar Banner      
      </ion-col> 
    </ion-row>   
    <ion-row>
      <ion-col size="6" (click)="admobService.prepareInterstitial()">
        <button>
          <ion-icon slot="start" size="large" name="logo-pinterest"></ion-icon>
        </button><br />
        Banner Interstitial       
      </ion-col> 
    </ion-row>   -->



  </ion-grid>

</ion-content>
